body {
  border-top: 20px;
  padding: 3px;
  background-color:rgba(120, 164, 173, 0.055);
  background-image: url('/src/assets/SP.jpeg');
  background-size:cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  
}